@import "../../vars.css";

/* Common */
/* Common */
/* Common */
.text-link {
    color: inherit;
    text-decoration: inherit;
}
.search{
    border: 1px solid var(--grey);
    border-radius: 15px;
    padding: .7rem;
    margin-left: 3rem;
    height: 0.8rem;
    width: 100%;
}
.search-small{
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: .7rem;
    margin-left: 3rem;
    height: 0.8rem;
    width: 18rem;
}
.search-tiny{
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: .7rem;
    margin-left: 3rem;
    height: 0.8rem;
    width: 10rem;
}
.btn-yellow{
    font-weight: 700;
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
    padding: 0.7rem 2rem;
    margin-left: 2rem;
    white-space: nowrap;
    cursor: pointer;
}
.btn-light{
    font-weight: 700;
    background-color: var(--light1);
    border: none;
    border-radius: 10px;
    padding: .7rem 2rem;
    margin-left: 2rem;
    white-space: nowrap;
    cursor: pointer;
}
.btn-light-small{
    font-weight: 500;
    background-color: var(--light1);
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    white-space: nowrap;
    cursor: pointer;
}
.btn-border{
    font-weight: 500;
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: .5rem 1rem;
    white-space: nowrap;
    cursor: pointer;
}
.highlight{
    background-color: var(--light2);
}
.filters{
    display: flex;
    justify-content: space-between;
}
.filters-select{
    min-width: 10rem;
}

/* Navbar */
/* Navbar */
/* Navbar */
.navbar {
    padding: 1rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo img {
    height: 80px;
}
.navbar-links {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-links p {
    padding-left: 2rem;
    font-weight: 600;
}
.outlet {
    padding: 0rem 2rem;
}

/* Font */
/* Font */
/* Font */
h1{
    font-size: 32px;
    font-weight: 700;
    white-space: nowrap;
}
h2{
    font-size: 24px;
    font-weight: 700;
}

/* View */
/* View */
/* View */
.view-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.view-bottom{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 6rem 2rem 0;
}
.view-container{
    width: 100%;
    display: flex;
    padding-top: 1rem;
}
.view-container table{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    border-collapse: collapse;
    border: 1px solid var(--light1);
}
.view-container table img{
    height: 25px;
    margin: .5rem;
    cursor: pointer;
}
.view-container table th{
    background-color: var(--light1);
    border: 0;
    padding: .5rem 0;
}

