.users-add{
    border-radius: 10px;
    background-color: var(--light2);
    padding: 1rem 3rem;
    margin: 2rem;
}
.users-add-details-details{
    justify-content: center;
}
.users-add-details table{
    margin: auto;
    justify-content: right;
    align-items: center;
}
.users-add-details td{
    text-align: right;
}
.users-add-details p{
    font-weight: 500;
}
.users-add-details table input{
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-left: 2rem;
    width: 17rem;
}
.users-add-details-select{
    margin-left: 2rem;
}
.users-add-footer{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 6rem 2rem 0;
}