.books-add-details-select{
    width: 19rem;
    margin-left: 2rem;
}

.filters-child{
    display: flex;
}
.filters-child input{
    margin-left: 1rem;
}
.filters-child button{
    margin-left: 1rem;
}